.hidden {
  display: none !important;
}

.row {
  width: 100%;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-full,
.column-half {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}

div > div.column-full > div.row,
div.flex.row.space-between {
  display: flex;
  justify-content: space-between;
}

div > div.column-full > div.row > a.submit-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

label {
  margin-bottom: 9px;
}

label.title {
  margin-top: 24px;
}

label.image-url {
  margin-top: 30px;
}

label.notes {
  margin-top: 25px;
}

.journal-image {
  height: 245px;
}

.delete-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.delete-modal > .container {
  margin: auto;
  width: 319px;
  height: 131px;
  justify-content: center;
}

.delete-modal > .container > .row:last-child {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  padding-left: 14px;
  padding-right: 14px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.entry-title {
  margin-top: 0;
}

i.entry-edit {
  padding-top: 4px;
}

div.column-half.flex.flex-col {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .flex {
    flex-direction: row;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  label.title,
  .entry-title {
    margin-top: 0;
  }

  .journal-image {
    height: 345px;
  }

  div.column-half.flex.flex-col {
    margin-top: 0;
  }
}
