.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

label {
  margin-bottom: 9px;
}

label.title {
  margin-top: 24px;
}

label.image-url {
  margin-top: 30px;
}

label.notes {
  margin-top: 25px;
}

input.submit-entry {
  margin-top: 22px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .flex {
    flex-direction: row;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  label.title {
    margin-top: 0;
  }
}
