header {
  background-color: #562b81;
  height: 53px;
}

h1.header-text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding-top: 15px;
}

h2.title-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.journal-image {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

label {
  font-weight: 600;
}

input,
textarea {
  height: 40px;
  border-radius: 4px;
  padding-left: 0.5rem;
  border: 2px solid #b6b6b6;
  font-family:
    "Open Sans",
    sans-serif;
  font-size: 16px;
}

textarea {
  padding-top: 0.5rem;
  height: 149px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #562b81;
}

.submit-entry {
  cursor: pointer;
  background-color: #562b81;
  color: #fff;
  width: 72px;
  height: 32px;
  border: 0 solid black;
  padding-left: 0.25rem;
  transition: background-color 0.15s ease;
}

.submit-entry:active {
  background-color: #b6b6b6;
}
