header {
  background-color: #562b81;
  height: 53px;
}

h1.header-text {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  padding-top: 15px;
}

h2.title-text {
  color: #232323;
  margin-top: 16px;
  margin-bottom: 16px;
}

.journal-image {
  width: 100%;
}

.flex-dir-col {
  display: flex;
  flex-direction: column;
}
